[submodule "src/OpenDB"]
	path = src/OpenDB
	url = https://github.com/The-OpenROAD-Project/OpenDB
[submodule "src/flute3"]
	path = src/flute3
	url = https://github.com/The-OpenROAD-Project/flute3
[submodule "src/OpenSTA"]
	path = src/OpenSTA
	url = https://github.com/The-OpenROAD-Project/OpenSTA
